doctype html
html
  - body = { class: [] };
  - main = { class: [] };
  block init
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(property="og:url", content!=config.siteURL)
    meta(property="og:type", content="website")
    meta(property="og:title", content!=config.siteName)
    meta(property="og:image", content="")
    meta(name="description", content!=(description || config.siteDescription))
    meta(property="og:description", content!=(description || config.siteDescription))
    block meta
    link(rel="icon", type="image/png", href="assets/img/favicon.png")
    //link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700", rel="stylesheet")
    //link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700", rel="stylesheet")
    //link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel='stylesheet', href='assets/fonts/typeface-roboto/index.css', type='text/css')
    link(rel='stylesheet', href='assets/css/default.css', media='all', type='text/css')
    block stylesheets
    title
      != (title ? title + ' - ' + config.siteName : config.siteName )
    block head
  body(class!=body.class.join(' '))
    block body
    block scripts
    script(type='text/javascript', src="src/js/d3.js")
    script(type="module", src="src/js/main.js") //TODO: browserfy
    block closing
