@import "footer";

body {
  font-family: "Roboto";
  user-select: none;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

svg {
  width: 100%;
  height: -webkit-fill-available;
}

table {
  border-spacing: 0;
}

tr:hover {
  opacity: 0.8;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.network {
  width: 70vw;
  position: relative;
}

.network .text {
  position: absolute;
  padding: 20px;
}

#description {
  height: 200px;
  column-fill: auto;
  column-count: 5;
}

.training {
  width: 30vw;
}
