@import "footer";
@import "train";
@import "button";
@import "slider";
@import "credits";

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

body {
  font-family: "Roboto";
  user-select: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

svg {
  width: 100%;
  height: 100%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tr:hover {
  opacity: 0.8;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 0;
}

.network {
  width: 75vw;
  position: relative;
}

.network .text {
  position: absolute;
  padding: 20px;
  pointer-events: none;
}

#description {
  height: 200px;
  column-fill: auto;
  column-count: 5;
}

.train {
  width: 25vw;
}

#totalerror {
  font-size: 50px;
}

.formula {
  color: gray;
}

.center-formula > p {
  margin: 0;
  text-align: center;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.icon.selected {
  filter: drop-shadow(0 0 3px rgba(0,0,0,.4));
}

#screenoverlay {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background: rgba(0,0,0,.5);

  backdrop-filter: blur(10px);
}

#helpmebutton {
  position: absolute;
  top: 40px;
  right: 0;
  width: 120px;
  height: 120px;
  background-image: url("../../assets/img/bulb.svg");
}
