node_modules/
yarn-debug.log*
yarn-error.log*

# ignore local config files
assets/config/*.local.yaml

# ignore known build results
index.html
assets/js/bundle.js
assets/js/bundle.min.js
assets/js/dependencies.js
assets/js/bundle.min.js.map
assets/js/dependencies.min.js
assets/js/dependencies.min.js.map
assets/css/dependencies.css
assets/css/dependencies.css.map
assets/css/default.css
assets/css/default.css.map
