
svg
  g#input
    g.activations
  g#outputs
    g.flow
  g#edges
    g.edges
    g.activations
    g.gradient
    g.factorlines
  g#nodes
    g.nodes
    g.gradient
    g.target
    g.values
  g#parameters
    g.input
    g.edges
    g.nodes
  g#tooltip
  g#levelinfo
