
svg(viewBox="100 100 900 900")
  g#input
    g.parameters
    g.activations
  g#outputs
    g.flow
    g.target
  g#edges
    g.edges
    g.activations
    g.gradient
    g.parameters
    g.factorlines
  g#nodes
    g.nodes
    g.parameters
    g.gradient
    g.values
  g#tooltip
