
svg
  g#input
    g.parameters
    g.activations
    g.values
  g#outputs
    g.flow
    g.target
    g.values
  g#edges
    g.edges
    g.activations
    g.gradient
    g.parameters
    g.normalized-parameters
  g#nodes
    g.nodes
    g.gradient
    g.parameters
  g#tooltip
