.box.tabbed
  .tabs
    #missionbutton.tab.selected
    #helpmebutton.tab
  .content.relative
    .mission.absolute.visible
      #description
    .helper.absolute
      div(style="flex:1;")
        p
          label(for="show-gradient-switch")#show-gradient-label
          label(for="show-gradient")#show-gradient-switch.switch
            input(type="checkbox")#show-gradient
            span.slider.round
      div(style="flex:1; width: 100%;")
        p#mission-control-train-label
          .controls
            div.reset
            div.pause-resume.pause
            div.single-step
.box.trainingdata.visible
  div
    p(style="font-weight:600;")#training-data-title
  div#training-table-container
  //.v-seperator
  div
    p Total error on training data (loss function):
    .center-formula
      p#totalerror
      p.formula
        span
        span#totalerrorterm
