  
.box.tabbed
  .tabs
    #missionbutton.tab.selected
    #helpmebutton.tab
  .content.relative
    .mission.absolute.visible
      #description
    .helper.absolute
      div(style="flex:1;")
        p Gradienten anzeigen
          label.switch
            input(type="checkbox")#showgradient
            span.slider.round
      div(style="flex:1; width: 100%;")
        p Mit dem Gradientenverfahren trainieren:
          .controls
            div(title="Setze Traing zurück").reset
            div(title="Training pausieren/fortsetzen (fortlaufende Schritte mit dem Gradientenverfahren)").pause-resume.pause
            div(title="Trainiere einen einzelnen Schritt (Parameteranpassung mit Gradientenverfahren)").single-step
.box.trainingdata.visible
  div
    p(style="font-weight:600;") Trainingsdaten
  div
    table#trainingtable
  //.v-seperator
  div
    p Gesamter Fehler in Trainingsdaten (Verlustfunktion):
    .center-formula
      p#totalerror
      p.formula
        span  = 
        span#totalerrorterm
