.footer
  form
    select#language-selector
  //.navigation
  //  a#backbutton.navbutton Previous Level
  //  a#nextbutton.navbutton Next Level
  .footerbox
    #backbutton.button(data-i18n="main:slider.previous")
  .footerbox
    #navcircles.circles
      a.circ(href="index.html#1").selected
      a.circ(href="index.html#2")
      a.circ(href="index.html#3")
      a.circ(href="index.html#4")
  .footerbox
    #nextbutton.button(data-i18n="main:slider.next")
  //.footerbox(style="flex:0")
    //#creditsbutton.icon
    //#internationalbutton.icon
