.footer
  form
    select#language-selector
  //.navigation
  //  a#backbutton.navbutton Previous Level
  //  a#nextbutton.navbutton Next Level
  .footerbox
    #backbutton.button
  .footerbox
    #navcircles.circles
  .footerbox
    #nextbutton.button
  //.footerbox(style="flex:0")
    //#creditsbutton.icon
    //#internationalbutton.icon
