.footer {
  background: #FFFFFF;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.25);
  align-items: baseline;
  display: flex;
  padding: 14px;
  z-index: 10; }

.footer .international {
  background-image: url("assets/img/international.svg"); }

.footer #backbutton::before {
  content: "< "; }

.footer #nextbutton::after {
  content: " >"; }

.footer .circ {
  border: 2px solid #000000;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 100%;
  margin: auto 15px;
  background: white; }

.footer .circ.selected {
  background: #D3D3D3; }

.footer .circles {
  display: flex; }

.footer .circ:hover {
  background: #D3D3D3; }

.footer .footerbox {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: auto; }

.train {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 5px;
  justify-content: space-around; }

.train .box {
  background: #FFFFFF;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 14px;
  margin: 14px; }

.train .controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100px; }

.train .controls > div {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 60%; }

.train .controls .reset {
  /*visibility: hidden;*/
  background-image: url("../../assets/img/reset.svg"); }

.train .controls .pause-resume.resume {
  background-image: url("../../assets/img/resume.svg"); }

.train .controls .pause-resume.pause {
  background-image: url("../../assets/img/pause.svg"); }

.train .controls .single-step {
  background-image: url("../../assets/img/step.svg"); }

.train .box .info {
  display: flex;
  justify-content: space-around; }

.train .h-seperator {
  height: 100%;
  border: 1px solid #C4C4C4;
  margin: auto; }

.train .v-seperator {
  width: 100%;
  border: 1px solid #C4C4C4;
  margin: auto; }

.train .number {
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  text-align: center; }

.train .button {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  font-weight: normal;
  padding: 14px 2px;
  width: 100%;
  background: white;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  /* overwrite if .menu is drawmode */
  pointer-events: all;
  z-index: 2; }

.train .menu.drawmode .box .button {
  background: #E1E1E1; }

.train .button:hover {
  background: #EEEEEE; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.train .simplenetwork canvas {
  width: 100%;
  height: 100%; }

.train .advanced {
  pointer-events: all;
  display: flex;
  flex-direction: row;
  padding: 30px; }

.train .advanced .columns {
  align-items: normal; }

.train .advanced canvas {
  height: 100%;
  width: 30%; }

.train .advanced .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  padding: 30px; }

.train select {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  font-weight: normal;
  padding: 14px 2px;
  width: 100%;
  background: white;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  /* overwrite if .menu is drawmode */
  pointer-events: all;
  z-index: 2; }

.train input[type=range] {
  width: 100%; }

.train .trainingdata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden; }

.train .tabbed {
  display: flex;
  flex-direction: row-reverse;
  padding: 0; }

.tabs {
  flex: 0;
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column; }

.tab {
  display: inline-block;
  height: calc(50%);
  width: 100px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center; }

.tab.selected {
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10; }

.tab:not(.selected) {
  background-color: rgba(0, 0, 0, 0.1); }

.tabbed .content {
  flex: 1;
  margin: 10px;
  height: 180px; }

.mission {
  visibility: hidden;
  height: 180px;
  text-align: justify; }

.train .helper {
  visibility: hidden;
  height: 180px;
  opacity: 0;
  display: flex;
  flex-direction: column; }

#helpmebutton {
  background-image: url("../../assets/img/bulb.svg");
  border-bottom-right-radius: 10px; }

#missionbutton {
  background-image: url("../../assets/img/mission.svg");
  border-top-right-radius: 10px; }

th {
  font-weight: 400; }

.button {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  font-weight: normal;
  padding: 14px 28px;
  background: white;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0px;
  pointer-events: all; }

.button:hover {
  background: #EEEEEE; }

.button.selected {
  font-weight: bold;
  background: #E1E1E1; }

/* The slider */
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  pointer-events: all;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider {
  background-color: #888; }

input:focus + .slider {
  box-shadow: 0 0 1px #888; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

input[type=range] {
  -webkit-appearance: none;
  background: none; }

input[type=range]::-webkit-slider-runnable-track {
  height: 34px;
  background: #ccc;
  border: none;
  border-radius: 17px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #fff;
  margin-top: 4px;
  position: relative; }

input[type=range]:focus {
  outline: none; }
  input[type=range]:focus::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #888;
    border-radius: 5px;
    padding: 5px 10px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #888; }

#creditsbutton {
  background-image: url("../../assets/img/info.svg"); }

.credits {
  visibility: hidden;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  background: #FFFFFF;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 28px;
  z-index: 30; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.visible {
  visibility: visible !important;
  opacity: 1 !important; }

body {
  font-family: "Roboto";
  user-select: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; }

svg {
  width: 100%;
  height: 100%; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

tr:hover {
  opacity: 0.8; }

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 0; }

.network {
  width: 70vw;
  position: relative; }

.network .text {
  position: absolute;
  padding: 20px;
  pointer-events: none; }

.train {
  width: 30vw; }

#totalerror {
  font-size: 50px; }

.formula {
  color: gray; }

.center-formula > p {
  margin: 0;
  text-align: center; }

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 10px; }

.icon.selected {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4)); }

#screenoverlay {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); }

#internationalbutton {
  background-image: url("../../assets/img/international.svg"); }

.absolute {
  position: absolute;
  left: 0;
  right: 0; }

.relative {
  position: relative; }

p {
  margin: 0.5em; }

/*# sourceMappingURL=default.css.map */
